.footer-container {
  display: flex;
  justify-content: space-around;
}

.follow {
  padding-top: 5px;
}

@media (max-width: 540px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer-container > div {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
}
